.main {
  margin: 0 auto;
}

.btn-update {
  margin: 10px;
}

.playlist-item {
  background-color: #166088;
  color: white;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}

span {
  color: #B7C3F3;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  display: flex;
  align-items: center;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.column {
  margin: 20px;
  text-align: left;
  background-color: #B7C3F3;
  border-radius: 10px;
  padding: 20px;
}

Button {
  margin-top: 20px;
}
